
/*layout*/

* {
    box-sizing: border-box;
}

div.navbar {
    position: sticky;
    top: 0px;
    background: beige;
    margin-top: -8px; /* Body user agent stylesheet has margin: 8px */
    will-change: transform;
}

div.navbar > h1 {
    text-align: center;
    margin: auto;
    padding: 10px 0px;
}

div.navbar > a.home {
    position: fixed;
    top: 14px;
    left: 8px;
    font-size: 20px;
}

div.navbar > a.login {
    position: fixed;
    top: 14px;
    left: 68px;
    font-size: 20px;
}

div.navbar > a.layout {
    position: fixed;
    top: 14px;
    left: 128px;
    font-size: 20px;
}

div.body {
    margin-left: 8px;
    margin-right: 8px;
}

/*login*/

div.body > div.login {
    background: beige;
    border-radius: 25px;
    margin: 50px auto 0 auto;
    max-width: 500px;
}

div.body > div.login > form {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

div.body > div.login > form > lable {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.body > div.login > form > input {
    line-height: 1.5;
}

div.body > div.login > form > button {
    font-size: 16px;
    margin: 20px auto 0px auto
}

/*home*/

div.body > div.home {
    display: grid;
    grid-template-rows: repeat(5, 70px);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "one one one one one"
        "two two four four four"
        "two two four four four"
        "two two four four four"
        "three three three three three";
    background: beige;
    border-radius: 25px;
    margin: 50px auto 0 auto;
    padding: 50px;
    max-width: 500px;
}

div.body > div.home > div.one {
    background: yellow;
    grid-area: one;
}

div.body > div.home > div.two {
    background: red;
    grid-area: two;
}

div.body > div.home > div.three {
    background: chartreuse;
    grid-area: three;
}

div.body > div.home > div.four {
    background: cyan;
    grid-area: four;
}
